.h1{
    background-color: rgb(227, 208, 187);
    text-align: center;
    padding: 20px;
}
.img{
    width: 1344px;
    height:auto;
}
/* .topic{
    margin-top: 100px;
    text-align: center;
} */

.m2 {
    position: relative;
    text-align: right;
  
    
  }

  .topic {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    /* font-display:; */
    font-size: 5000;
    font-weight: 300px;
    color: #ffffff;
  }
h1{
    font-size: 150px;
    margin-left: 200px;
    font-weight: 240px;

}
p{
    padding-bottom: 100px;
}
